:root {
    --azul-marino: #003366;
    --azul-claro: #d5e8fc;
    --azul-transparente: rgba(9, 56, 102, 0.85);
    --blanco: #fff;
}

body {
    background-color: var(--azul-claro);
}

.navbar {
    background-color: var(--azul-transparente);
    backdrop-filter: blur(3px);
    padding: 1.2rem ; 
}

.nav-link {
    font-size: 1.2rem; 
    margin-left: 15px;
    text-transform: uppercase;
}

.portada {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url('../imagenes_video/MaruxainaHum.jpg') no-repeat center center;
    background-size: cover;
    height: 80vh;
    display: flex;

    /* texto */
    align-items: center;
    text-align: center;
    color: var(--blanco);
}

.portada-leyenda {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url('../imagenes_video/Maru3.jpg') no-repeat center center;
    background-size: cover;
    height: 80vh;
    display: flex;

    /* texto */
    align-items: center;
    text-align: center;
    color: var(--blanco);
}

.informacion {
    background: var(--blanco);
    color: var(--azul-marino);
    border-radius: 15px;
    border: none;
}

footer {
    background: linear-gradient(rgba(0, 51, 102, 0.7), rgba(0, 51, 102, 0.7)),
                url('../imagenes_video/fondo-marino.avif') no-repeat center center;
    background-size: cover;
    color: var(--blanco); 
    padding: 88px 0 40px;
}

footer p, footer li, footer a {
    font-size: 1.15rem !important; 
    line-height: 1.6;
    color: var(--blanco);
}